* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.c-pointer {
  cursor: pointer;
}

.c-pointer:hover,
.info-img:hover {
  transition: 125ms;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  transform: scale(1.05);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

.f-d-column {
  flex-direction: column;
}

.j-c-space-between {
  justify-content: space-between;
}

.a-i-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/img/5_background/desert.png");
  background-position: center;

  font-family: "zabars", Arial, Helvetica, sans-serif;
}

h1 {
  position: absolute;

  top: -75px;

  font-size: 56px;
  letter-spacing: 4px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 40px;
  letter-spacing: 4px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);

  margin-bottom: 40px;
}

/* ---------- Start Screen ---------- */
.start-screen {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 480px;
  width: 720px;
}

.canvas-start-screen-background {
  position: absolute;

  border-radius: 24px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;

  width: 120px;
}

.info-button {
  position: absolute;

  top: 20px;
  right: 20px;

  width: 100px;
}

/* ---------- Controll Information ---------- */
.information-screen {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 24px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);

  height: 480px;
  width: 720px;

  background: linear-gradient(
    90deg,
    rgba(153, 68, 9, 1) 0%,
    rgba(183, 97, 39, 1) 30%,
    rgba(188, 122, 15, 1) 100%
  );
}

b {
  color: black;
  font-size: 28px;
  letter-spacing: 2px;
}

.info-section {
  display: flex;
  align-items: center;

  width: 70%;

  font-size: 24px;

  text-align: start;

  color: rgba(0, 0, 0, 0.8);
}

.info-img {
  height: 80px;
  margin-right: 150px;
}

.back-button {
  position: absolute;

  top: 20px;
  right: 20px;

  height: 80px;
}

/* ---------- Game ---------- */
.game-screen {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("assets/img/5_background/desert.png");
  background-position: center;

  height: 480px;
  width: 720px;
}

canvas {
  position: absolute;
  background-color: black;
  display: block;

  border-radius: 24px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.game-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fullscreen-button {
  height: 80px;
}

.sound-button {
  height: 80px;
}

/* ---------- Game Over ---------- */
.game-end-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 24px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);

  height: 480px;
  width: 720px;

  background: linear-gradient(
    90deg,
    rgba(153, 68, 9, 1) 0%,
    rgba(183, 97, 39, 1) 30%,
    rgba(188, 122, 15, 1) 100%
  );
}

.game-end-screen-inner {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

.game-end-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.game-end-exit-section {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  font-size: 32px;
  letter-spacing: 2px;
  z-index: 1;
}

.game-end-img {
  position: absolute;
  opacity: 0;
}

.game-end-chicken-left {
  position: absolute;
  bottom: 10px;
  left: 100px;

  width: 100px;
}

.game-end-pepe {
  position: absolute;
  bottom: 10px;

  width: 150px;
}

.game-end-chicken-right {
  position: absolute;
  bottom: 10px;
  right: 100px;

  width: 100px;
}

.game-end-boss-left {
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 180px;
}

.game-end-boss-right {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 180px;
}

/* ---------- Landscape ---------- */
.landscape-navigation-left {
  position: absolute;
  bottom: -50px;
  left: 10px;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.landscape-navigation-right {
  position: absolute;
  bottom: -50px;
  right: 10px;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

/* ---------- Animation ---------- */
.animation-fade-out {
  animation: 250ms fadeout ease-in-out;
}

@keyframes fadeout {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0;
    scale: 0;
  }
}

.animation-fade-in {
  animation: 250ms fadeIn ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animation-rotate-in {
  animation: 500ms rotateIn ease-in-out;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    scale: 0;
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: rotate(360deg);
  }
}

.animation-rotate-infinite {
  animation: 2000ms rotateInfinite ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes rotateInfinite {
  0% {
    opacity: 0;
    scale: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    scale: 0.5;
    transform: rotate(720deg);
  }
}

.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

/* ---------- Media ---------- */
@media only screen and (max-width: 720px) {
  canvas,
  .game-screen,
  .start-screen,
  .information-screen,
  .game-end-screen {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  .game-screen,
  .start-screen,
  .information-screen,
  .game-end-screen {
    height: 100vh;
  }
}
